# Indicadores da Central de Denúncias

Processamento feito a partir dos dados concedidos pela Safernet sobre a [Central Nacional de Denúncias](http://indicadores.safernet.org.br/index.html).

#### Acesse o link e saiba mais!

In [2]:
import io
import requests
import pandas as pd
import matplotlib.pyplot as plt

### Metodos a serem reutilizados

In [48]:
def retiranddo_linhas_vazias(df):
    df = df.dropna() # Função do Pandas para retirar linhas vazias
    return df

### Limpeza dos Dados

In [80]:
cnd_violacao = pd.read_csv("../dados/indicadores_cnd_violacao.csv")
cnd_violacao.head(15)

,Período,Violação,Únicas,Duplicadas,Total
0,01/01/2006 a 31/01/2006,Xenofobia,4.0,1.0,5.0
1,01/01/2006 a 31/01/2006,Homofobia,2.0,0.0,2.0
2,01/01/2006 a 31/01/2006,Pornografia Infantil,75.0,0.0,75.0
3,01/01/2006 a 31/01/2006,Violência ou Discriminação contra Mulheres,0.0,0.0,0.0
4,01/01/2006 a 31/01/2006,Neo Nazismo,7.0,1.0,8.0
5,01/01/2006 a 31/01/2006,Apologia e Incitação a crimes contra a Vida,2.0,0.0,2.0
6,01/01/2006 a 31/01/2006,Racismo,4.0,0.0,4.0
7,01/01/2006 a 31/01/2006,Maus Tratos Contra Animais,2.0,0.0,2.0
8,01/01/2006 a 31/01/2006,Não classificado,0.0,0.0,0.0
9,01/01/2006 a 31/01/2006,Intolerância Religiosa,0.0,0.0,0.0
10,01/01/2006 a 31/01/2006,Tráfico de Pessoas,0.0,0.0,0.0
11,NaN,NaN,NaN,NaN,NaN
12,01/02/2006 a 28/02/2006,Xenofobia,4.0,3.0,7.0
13,01/02/2006 a 28/02/2006,Homofobia,9.0,0.0,9.0
14,01/02/2006 a 28/02/2006,Pornografia Infantil,145.0,0.0,145.0

In [44]:
cnd_idioma = pd.read_csv("../dados/indicadores_cnd_idioma.csv")
cnd_idioma.head(15)

                    Período      Idioma  Únicas  Duplicadas  Total
0   01/01/2006 a 31/01/2006     spanish     9.0         0.0    9.0
1   01/01/2006 a 31/01/2006       farsi     3.0         0.0    3.0
2   01/01/2006 a 31/01/2006      german     2.0         0.0    2.0
3   01/01/2006 a 31/01/2006       dutch     3.0         0.0    3.0
4   01/01/2006 a 31/01/2006      pinyin     0.0         0.0    0.0
5   01/01/2006 a 31/01/2006      french    10.0         0.0   10.0
6   01/01/2006 a 31/01/2006     english   190.0         0.0  190.0
7   01/01/2006 a 31/01/2006     russian     9.0         0.0    9.0
8   01/01/2006 a 31/01/2006     swedish     0.0         0.0    0.0
9   01/01/2006 a 31/01/2006  portuguese    55.0         1.0   56.0
10                      NaN         NaN     NaN         NaN    NaN
11  01/02/2006 a 28/02/2006     spanish     6.0         0.0    6.0
12  01/02/2006 a 28/02/2006       farsi     0.0         0.0    0.0
13  01/02/2006 a 28/02/2006      german     0.0         0.0    0.0
14  01/02/2006 a 28/02/2006       dutch     8.0         0.0    8.0

In [45]:
cnd_dominio = pd.read_csv("../dados/indicadores_cnd_dominio.csv")
cnd_dominio.head(15)

                    Período        Domínio    Únicas  Duplicadas     Total
0   01/01/2006 a 31/01/2006   facebook.com  129632.0         0.0  129632.0
1   01/01/2006 a 31/01/2006    youtube.com   15984.0         0.0   15984.0
2   01/01/2006 a 31/01/2006   orkut.com.br  198454.0         0.0  198454.0
3   01/01/2006 a 31/01/2006    xvideos.com   11313.0         0.0   11313.0
4   01/01/2006 a 31/01/2006  instagram.com    4574.0         0.0    4574.0
5   01/01/2006 a 31/01/2006      imgsrc.ru    4532.0         0.0    4532.0
6   01/01/2006 a 31/01/2006  google.com.br    4147.0         0.0    4147.0
7   01/01/2006 a 31/01/2006    twitter.com   26399.0         0.0   26399.0
8   01/01/2006 a 31/01/2006      orkut.com  157038.0         1.0  157039.0
9   01/01/2006 a 31/01/2006     uol.com.br    5050.0         0.0    5050.0
10                      NaN            NaN       NaN         NaN       NaN
11  01/02/2006 a 28/02/2006   facebook.com  129632.0         0.0  129632.0
12  01/02/2006 a 28/02/2006    youtube.com   15984.0         0.0   15984.0
13  01/02/2006 a 28/02/2006   orkut.com.br  198454.0         0.0  198454.0
14  01/02/2006 a 28/02/2006    xvideos.com   11313.0         0.0   11313.0

Imprimindo as 15 primeiras linhas dos arquivos podem ver que existem linhas vazias, que o Pandas converte para Nan.
Como linhas vazias não tem valor para nós, vamos retirar usando a o metodo definido anteriormente.

In [81]:
cnd_dominio = retiranddo_linhas_vazias(cnd_dominio)
cnd_idioma = retiranddo_linhas_vazias(cnd_idioma)
cnd_violacao = retiranddo_linhas_vazias(cnd_violacao)
cnd_violacao.head(15)

,Período,Violação,Únicas,Duplicadas,Total
0,01/01/2006 a 31/01/2006,Xenofobia,4.0,1.0,5.0
1,01/01/2006 a 31/01/2006,Homofobia,2.0,0.0,2.0
2,01/01/2006 a 31/01/2006,Pornografia Infantil,75.0,0.0,75.0
3,01/01/2006 a 31/01/2006,Violência ou Discriminação contra Mulheres,0.0,0.0,0.0
4,01/01/2006 a 31/01/2006,Neo Nazismo,7.0,1.0,8.0
5,01/01/2006 a 31/01/2006,Apologia e Incitação a crimes contra a Vida,2.0,0.0,2.0
6,01/01/2006 a 31/01/2006,Racismo,4.0,0.0,4.0
7,01/01/2006 a 31/01/2006,Maus Tratos Contra Animais,2.0,0.0,2.0
8,01/01/2006 a 31/01/2006,Não classificado,0.0,0.0,0.0
9,01/01/2006 a 31/01/2006,Intolerância Religiosa,0.0,0.0,0.0
10,01/01/2006 a 31/01/2006,Tráfico de Pessoas,0.0,0.0,0.0
12,01/02/2006 a 28/02/2006,Xenofobia,4.0,3.0,7.0
13,01/02/2006 a 28/02/2006,Homofobia,9.0,0.0,9.0
14,01/02/2006 a 28/02/2006,Pornografia Infantil,145.0,0.0,145.0
15,01/02/2006 a 28/02/2006,Violência ou Discriminação contra Mulheres,0.0,0.0,0.0

Olhando a variação do campo Período

In [54]:
cnd_dominio.groupby("Período").count()

                         Domínio  Únicas  Duplicadas  Total
Período
01/01/2006 a 31/01/2006       10      10          10     10
01/01/2007 a 31/01/2007       10      10          10     10
01/01/2008 a 31/01/2008       10      10          10     10
01/01/2009 a 31/01/2009       10      10          10     10
01/01/2010 a 31/01/2010       10      10          10     10
01/01/2011 a 31/01/2011       10      10          10     10
01/01/2012 a 31/01/2012       10      10          10     10
01/01/2013 a 31/01/2013       10      10          10     10
01/01/2014 a 31/01/2014       10      10          10     10
01/01/2015 a 31/01/2015       10      10          10     10
01/01/2016 a 31/01/2016       10      10          10     10
01/01/2017 a 31/01/2017       10      10          10     10
01/01/2018 a 31/01/2018       10      10          10     10
01/02/2006 a 28/02/2006       10      10          10     10
01/02/2007 a 28/02/2007       10      10          10     10
01/02/2008 a 29/02/2008       10      10          10     10
01/02/2009 a 28/02/2009       10      10          10     10
01/02/2010 a 28/02/2010       10      10          10     10
01/02/2011 a 28/02/2011       10      10          10     10
01/02/2012 a 29/02/2012       10      10          10     10
01/02/2013 a 28/02/2013       10      10          10     10
01/02/2014 a 28/02/2014       10      10          10     10
01/02/2015 a 28/02/2015       10      10          10     10
01/02/2016 a 29/02/2016       10      10          10     10
01/02/2017 a 28/02/2017       10      10          10     10
01/02/2018 a 28/02/2018       10      10          10     10
01/03/2006 a 31/03/2006       10      10          10     10
01/03/2007 a 31/03/2007       10      10          10     10
01/03/2008 a 31/03/2008       10      10          10     10
01/03/2009 a 31/03/2009       10      10          10     10
...                          ...     ...         ...    ...
01/10/2015 a 31/10/2015       10      10          10     10
01/10/2016 a 31/10/2016       10      10          10     10
01/10/2017 a 31/10/2017       10      10          10     10
01/10/2018 a 31/10/2018       10      10          10     10
01/11/2006 a 30/11/2006       10      10          10     10
01/11/2007 a 30/11/2007       10      10          10     10
01/11/2008 a 30/11/2008       10      10          10     10
01/11/2009 a 30/11/2009       10      10          10     10
01/11/2010 a 30/11/2010       10      10          10     10
01/11/2011 a 30/11/2011       10      10          10     10
01/11/2012 a 30/11/2012       10      10          10     10
01/11/2013 a 30/11/2013       10      10          10     10
01/11/2014 a 30/11/2014       10      10          10     10
01/11/2015 a 30/11/2015       10      10          10     10
01/11/2016 a 30/11/2016       10      10          10     10
01/11/2017 a 30/11/2017       10      10          10     10
01/11/2018 a 30/11/2018       10      10          10     10
01/12/2006 a 31/12/2006       10      10          10     10
01/12/2007 a 31/12/2007       10      10          10     10
01/12/2008 a 31/12/2008       10      10          10     10
01/12/2009 a 31/12/2009       10      10          10     10
01/12/2010 a 31/12/2010       10      10          10     10
01/12/2011 a 31/12/2011       10      10          10     10
01/12/2012 a 31/12/2012       10      10          10     10
01/12/2013 a 31/12/2013       10      10          10     10
01/12/2014 a 31/12/2014       10      10          10     10
01/12/2015 a 31/12/2015       10      10          10     10
01/12/2016 a 31/12/2016       10      10          10     10
01/12/2017 a 31/12/2017       10      10          10     10
01/12/2018 a 31/12/2018       10      10          10     10

[156 rows x 4 columns]

In [55]:
cnd_dominio.groupby("Domínio").count()

               Período  Únicas  Duplicadas  Total
Domínio
facebook.com       156     156         156    156
google.com.br      156     156         156    156
imgsrc.ru          156     156         156    156
instagram.com      156     156         156    156
orkut.com          156     156         156    156
orkut.com.br       156     156         156    156
twitter.com        156     156         156    156
uol.com.br         156     156         156    156
xvideos.com        156     156         156    156
youtube.com        156     156         156    156

In [56]:
cnd_violacao.groupby("Violação").count()

,Período,Únicas,Duplicadas,Total
Violação,,,,
Apologia e Incitação a crimes contra a Vida,156,156,156,156
Homofobia,156,156,156,156
Intolerância Religiosa,156,156,156,156
Maus Tratos Contra Animais,156,156,156,156
Neo Nazismo,156,156,156,156
Não classificado,156,156,156,156
Pornografia Infantil,156,156,156,156
Racismo,156,156,156,156
Tráfico de Pessoas,156,156,156,156
Violência ou Discriminação contra Mulheres,156,156,156,156
Xenofobia,156,156,156,156

In [57]:
cnd_violacao.groupby("Período").count()

                         Violação  Únicas  Duplicadas  Total
Período
01/01/2006 a 31/01/2006        11      11          11     11
01/01/2007 a 31/01/2007        11      11          11     11
01/01/2008 a 31/01/2008        11      11          11     11
01/01/2009 a 31/01/2009        11      11          11     11
01/01/2010 a 31/01/2010        11      11          11     11
01/01/2011 a 31/01/2011        11      11          11     11
01/01/2012 a 31/01/2012        11      11          11     11
01/01/2013 a 31/01/2013        11      11          11     11
01/01/2014 a 31/01/2014        11      11          11     11
01/01/2015 a 31/01/2015        11      11          11     11
01/01/2016 a 31/01/2016        11      11          11     11
01/01/2017 a 31/01/2017        11      11          11     11
01/01/2018 a 31/01/2018        11      11          11     11
01/02/2006 a 28/02/2006        11      11          11     11
01/02/2007 a 28/02/2007        11      11          11     11
01/02/2008 a 29/02/2008        11      11          11     11
01/02/2009 a 28/02/2009        11      11          11     11
01/02/2010 a 28/02/2010        11      11          11     11
01/02/2011 a 28/02/2011        11      11          11     11
01/02/2012 a 29/02/2012        11      11          11     11
01/02/2013 a 28/02/2013        11      11          11     11
01/02/2014 a 28/02/2014        11      11          11     11
01/02/2015 a 28/02/2015        11      11          11     11
01/02/2016 a 29/02/2016        11      11          11     11
01/02/2017 a 28/02/2017        11      11          11     11
01/02/2018 a 28/02/2018        11      11          11     11
01/03/2006 a 31/03/2006        11      11          11     11
01/03/2007 a 31/03/2007        11      11          11     11
01/03/2008 a 31/03/2008        11      11          11     11
01/03/2009 a 31/03/2009        11      11          11     11
...                           ...     ...         ...    ...
01/10/2015 a 31/10/2015        11      11          11     11
01/10/2016 a 31/10/2016        11      11          11     11
01/10/2017 a 31/10/2017        11      11          11     11
01/10/2018 a 31/10/2018        11      11          11     11
01/11/2006 a 30/11/2006        11      11          11     11
01/11/2007 a 30/11/2007        11      11          11     11
01/11/2008 a 30/11/2008        11      11          11     11
01/11/2009 a 30/11/2009        11      11          11     11
01/11/2010 a 30/11/2010        11      11          11     11
01/11/2011 a 30/11/2011        11      11          11     11
01/11/2012 a 30/11/2012        11      11          11     11
01/11/2013 a 30/11/2013        11      11          11     11
01/11/2014 a 30/11/2014        11      11          11     11
01/11/2015 a 30/11/2015        11      11          11     11
01/11/2016 a 30/11/2016        11      11          11     11
01/11/2017 a 30/11/2017        11      11          11     11
01/11/2018 a 30/11/2018        11      11          11     11
01/12/2006 a 31/12/2006        11      11          11     11
01/12/2007 a 31/12/2007        11      11          11     11
01/12/2008 a 31/12/2008        11      11          11     11
01/12/2009 a 31/12/2009        11      11          11     11
01/12/2010 a 31/12/2010        11      11          11     11
01/12/2011 a 31/12/2011        11      11          11     11
01/12/2012 a 31/12/2012        11      11          11     11
01/12/2013 a 31/12/2013        11      11          11     11
01/12/2014 a 31/12/2014        11      11          11     11
01/12/2015 a 31/12/2015        11      11          11     11
01/12/2016 a 31/12/2016        11      11          11     11
01/12/2017 a 31/12/2017        11      11          11     11
01/12/2018 a 31/12/2018        11      11          11     11

[156 rows x 4 columns]

### Fazendo tratamento nas datas

In [82]:
periodo_separado = cnd_violacao["Período"].str.split("a", expand=True)
periodo_separado = periodo_separado.rename(columns={0: 'Inicio', 1: 'Fim'})
periodo_separado.head()

        Inicio          Fim
0  01/01/2006    31/01/2006
1  01/01/2006    31/01/2006
2  01/01/2006    31/01/2006
3  01/01/2006    31/01/2006
4  01/01/2006    31/01/2006

In [83]:
cnd_violacao = cnd_violacao.join(periodo_separado)

,Período,Violação,Únicas,Duplicadas,Total,Inicio,Fim
0,01/01/2006 a 31/01/2006,Xenofobia,4.0,1.0,5.0,01/01/2006,31/01/2006
1,01/01/2006 a 31/01/2006,Homofobia,2.0,0.0,2.0,01/01/2006,31/01/2006
2,01/01/2006 a 31/01/2006,Pornografia Infantil,75.0,0.0,75.0,01/01/2006,31/01/2006
3,01/01/2006 a 31/01/2006,Violência ou Discriminação contra Mulheres,0.0,0.0,0.0,01/01/2006,31/01/2006
4,01/01/2006 a 31/01/2006,Neo Nazismo,7.0,1.0,8.0,01/01/2006,31/01/2006
5,01/01/2006 a 31/01/2006,Apologia e Incitação a crimes contra a Vida,2.0,0.0,2.0,01/01/2006,31/01/2006
6,01/01/2006 a 31/01/2006,Racismo,4.0,0.0,4.0,01/01/2006,31/01/2006
7,01/01/2006 a 31/01/2006,Maus Tratos Contra Animais,2.0,0.0,2.0,01/01/2006,31/01/2006
8,01/01/2006 a 31/01/2006,Não classificado,0.0,0.0,0.0,01/01/2006,31/01/2006
9,01/01/2006 a 31/01/2006,Intolerância Religiosa,0.0,0.0,0.0,01/01/2006,31/01/2006
10,01/01/2006 a 31/01/2006,Tráfico de Pessoas,0.0,0.0,0.0,01/01/2006,31/01/2006
12,01/02/2006 a 28/02/2006,Xenofobia,4.0,3.0,7.0,01/02/2006,28/02/2006
13,01/02/2006 a 28/02/2006,Homofobia,9.0,0.0,9.0,01/02/2006,28/02/2006
14,01/02/2006 a 28/02/2006,Pornografia Infantil,145.0,0.0,145.0,01/02/2006,28/02/2006
15,01/02/2006 a 28/02/2006,Violência ou Discriminação contra Mulheres,0.0,0.0,0.0,01/02/2006,28/02/2006
16,01/02/2006 a 28/02/2006,Neo Nazismo,55.0,16.0,71.0,01/02/2006,28/02/2006
17,01/02/2006 a 28/02/2006,Apologia e Incitação a crimes contra a Vida,27.0,3.0,30.0,01/02/2006,28/02/2006
18,01/02/2006 a 28/02/2006,Racismo,44.0,22.0,66.0,01/02/2006,28/02/2006
19,01/02/2006 a 28/02/2006,Maus Tratos Contra Animais,13.0,12.0,25.0,01/02/2006,28/02/2006
20,01/02/2006 a 28/02/2006,Não classificado,0.0,0.0,0.0,01/02/2006,28/02/2006
21,01/02/2006 a 28/02/2006,Intolerância Religiosa,5.0,3.0,8.0,01/02/2006,28/02/2006
22,01/02/2006 a 28/02/2006,Tráfico de Pessoas,0.0,0.0,0.0,01/02/2006,28/02/2006
24,01/03/2006 a 31/03/2006,Xenofobia,26.0,22.0,48.0,01/03/2006,31/03/2006
25,01/03/2006 a 31/03/2006,Homofobia,59.0,28.0,87.0,01/03/2006,31/03/2006
26,01/03/2006 a 31/03/2006,Pornografia Infantil,467.0,216.0,683.0,01/03/2006,31/03/2006
27,01/03/2006 a 31/03/2006,Violência ou Discriminação contra Mulheres,0.0,0.0,0.0,01/03/2006,31/03/2006
28,01/03/2006 a 31/03/2006,Neo Nazismo,181.0,148.0,329.0,01/03/2006,31/03/2006
29,01/03/2006 a 31/03/2006,Apologia e Incitação a crimes contra a Vida,169.0,85.0,254.0,01/03/2006,31/03/2006
30,01/03/2006 a 31/03/2006,Racismo,223.0,517.0,740.0,01/03/2006,31/03/2006
31,01/03/2006 a 31/03/2006,Maus Tratos Contra Animais,115.0,152.0,267.0,01/03/2006,31/03/2006
...,...,...,...,...,...,...,...
1839,01/10/2018 a 31/10/2018,Violência ou Discriminação contra Mulheres,771.0,854.0,1625.0,01/10/2018,31/10/2018
1840,01/10/2018 a 31/10/2018,Neo Nazismo,445.0,1041.0,1486.0,01/10/2018,31/10/2018
1841,01/10/2018 a 31/10/2018,Apologia e Incitação a crimes contra a Vida,3044.0,8941.0,11985.0,01/10/2018,31/10/2018
1842,01/10/2018 a 31/10/2018,Racismo,975.0,1141.0,2116.0,01/10/2018,31/10/2018
1843,01/10/2018 a 31/10/2018,Maus Tratos Contra Animais,25.0,26.0,51.0,01/10/2018,31/10/2018
1844,01/10/2018 a 31/10/2018,Não classificado,1.0,0.0,1.0,01/10/2018,31/10/2018
1845,01/10/2018 a 31/10/2018,Intolerância Religiosa,198.0,123.0,321.0,01/10/2018,31/10/2018
1846,01/10/2018 a 31/10/2018,Tráfico de Pessoas,26.0,20.0,46.0,01/10/2018,31/10/2018
1848,01/11/2018 a 30/11/2018,Xenofobia,63.0,23.0,86.0,01/11/2018,30/11/2018
1849,01/11/2018 a 30/11/2018,Homofobia,124.0,99.0,223.0,01/11/2018,30/11/2018
1850,01/11/2018 a 30/11/2018,Pornografia Infantil,1824.0,1767.0,3591.0,01/11/2018,30/11/2018
1851,01/11/2018 a 30/11/2018,Violência ou Discriminação contra Mulheres,265.0,179.0,444.0,01/11/2018,30/11/2018
1852,01/11/2018 a 30/11/2018,Neo Nazismo,71.0,110.0,181.0,01/11/2018,30/11/2018
1853,01/11/2018 a 30/11/2018,Apologia e Incitação a crimes contra a Vida,506.0,370.0,876.0,01/11/2018,30/11/2018
1854,01/11/2018 a 30/11/2018,Racismo,205.0,103.0,308.0,01/11/2018,30/11/2018
1855,01/11/2018 a 30/11/2018,Maus Tratos Contra Animais,42.0,108.0,150.0,01/11/2018,30/11/2018
1856,01/11/2018 a 30/11/2018,Não classificado,0.0,0.0,0.0,01/11/2018,30/11/2018
1857,01/11/2018 a 30/11/2018,Intolerância Religiosa,39.0,7.0,46.0,01/11/2018,30/11/2018
1858,01/11/2018 a 30/11/2018,Tráfico de Pessoas,20.0,9.0,29.0,01/11/2018,30/11/2018
1860,01/12/2018 a 31/12/2018,Xenofobia,77.0,26.0,103.0,01/12/2018,31/12/2018
1861,01/12/2018 a 31/12/2018,Homofobia,80.0,41.0,121.0,01/12/2018,31/12/2018
1862,01/12/2018 a 31/12/2018,Pornografia Infantil,2115.0,1719.0,3834.0,01/12/2018,31/12/2018
1863,01/12/2018 a 31/12/2018,Violência ou Discriminação contra Mulheres,313.0,216.0,529.0,01/12/2018,31/12/2018
1864,01/12/2018 a 31/12/2018,Neo Nazismo,41.0,20.0,61.0,01/12/2018,31/12/2018
1865,01/12/2018 a 31/12/2018,Apologia e Incitação a crimes contra a Vida,427.0,233.0,660.0,01/12/2018,31/12/2018
1866,01/12/2018 a 31/12/2018,Racismo,227.0,63.0,290.0,01/12/2018,31/12/2018
1867,01/12/2018 a 31/12/2018,Maus Tratos Contra Animais,55.0,67.0,122.0,01/12/2018,31/12/2018
1868,01/12/2018 a 31/12/2018,Não classificado,0.0,0.0,0.0,01/12/2018,31/12/2018
1869,01/12/2018 a 31/12/2018,Intolerância Religiosa,74.0,23.0,97.0,01/12/2018,31/12/2018
1870,01/12/2018 a 31/12/2018,Tráfico de Pessoas,24.0,26.0,50.0,01/12/2018,31/12/2018

In [75]:
periodo_separado.rename(columns={'0: 'Inicio'})

           Inicio            1
0     01/01/2006    31/01/2006
1     01/01/2006    31/01/2006
2     01/01/2006    31/01/2006
3     01/01/2006    31/01/2006
4     01/01/2006    31/01/2006
5     01/01/2006    31/01/2006
6     01/01/2006    31/01/2006
7     01/01/2006    31/01/2006
8     01/01/2006    31/01/2006
9     01/01/2006    31/01/2006
10    01/01/2006    31/01/2006
12    01/02/2006    28/02/2006
13    01/02/2006    28/02/2006
14    01/02/2006    28/02/2006
15    01/02/2006    28/02/2006
16    01/02/2006    28/02/2006
17    01/02/2006    28/02/2006
18    01/02/2006    28/02/2006
19    01/02/2006    28/02/2006
20    01/02/2006    28/02/2006
21    01/02/2006    28/02/2006
22    01/02/2006    28/02/2006
24    01/03/2006    31/03/2006
25    01/03/2006    31/03/2006
26    01/03/2006    31/03/2006
27    01/03/2006    31/03/2006
28    01/03/2006    31/03/2006
29    01/03/2006    31/03/2006
30    01/03/2006    31/03/2006
31    01/03/2006    31/03/2006
...           ...          ...
1839  01/10/2018    31/10/2018
1840  01/10/2018    31/10/2018
1841  01/10/2018    31/10/2018
1842  01/10/2018    31/10/2018
1843  01/10/2018    31/10/2018
1844  01/10/2018    31/10/2018
1845  01/10/2018    31/10/2018
1846  01/10/2018    31/10/2018
1848  01/11/2018    30/11/2018
1849  01/11/2018    30/11/2018
1850  01/11/2018    30/11/2018
1851  01/11/2018    30/11/2018
1852  01/11/2018    30/11/2018
1853  01/11/2018    30/11/2018
1854  01/11/2018    30/11/2018
1855  01/11/2018    30/11/2018
1856  01/11/2018    30/11/2018
1857  01/11/2018    30/11/2018
1858  01/11/2018    30/11/2018
1860  01/12/2018    31/12/2018
1861  01/12/2018    31/12/2018
1862  01/12/2018    31/12/2018
1863  01/12/2018    31/12/2018
1864  01/12/2018    31/12/2018
1865  01/12/2018    31/12/2018
1866  01/12/2018    31/12/2018
1867  01/12/2018    31/12/2018
1868  01/12/2018    31/12/2018
1869  01/12/2018    31/12/2018
1870  01/12/2018    31/12/2018

[1716 rows x 2 columns]

In [42]:
cnd_dominio.dropna()

                      Período        Domínio    Únicas  Duplicadas     Total
0     01/01/2006 a 31/01/2006   facebook.com  129632.0         0.0  129632.0
1     01/01/2006 a 31/01/2006    youtube.com   15984.0         0.0   15984.0
2     01/01/2006 a 31/01/2006   orkut.com.br  198454.0         0.0  198454.0
3     01/01/2006 a 31/01/2006    xvideos.com   11313.0         0.0   11313.0
4     01/01/2006 a 31/01/2006  instagram.com    4574.0         0.0    4574.0
5     01/01/2006 a 31/01/2006      imgsrc.ru    4532.0         0.0    4532.0
6     01/01/2006 a 31/01/2006  google.com.br    4147.0         0.0    4147.0
7     01/01/2006 a 31/01/2006    twitter.com   26399.0         0.0   26399.0
8     01/01/2006 a 31/01/2006      orkut.com  157038.0         1.0  157039.0
9     01/01/2006 a 31/01/2006     uol.com.br    5050.0         0.0    5050.0
10                        NaN            NaN       NaN         NaN       NaN
11    01/02/2006 a 28/02/2006   facebook.com  129632.0         0.0  129632.0
12    01/02/2006 a 28/02/2006    youtube.com   15984.0         0.0   15984.0
13    01/02/2006 a 28/02/2006   orkut.com.br  198454.0         0.0  198454.0
14    01/02/2006 a 28/02/2006    xvideos.com   11313.0         0.0   11313.0
15    01/02/2006 a 28/02/2006  instagram.com    4574.0         0.0    4574.0
16    01/02/2006 a 28/02/2006      imgsrc.ru    4532.0         0.0    4532.0
17    01/02/2006 a 28/02/2006  google.com.br    4147.0         0.0    4147.0
18    01/02/2006 a 28/02/2006    twitter.com   26399.0         0.0   26399.0
19    01/02/2006 a 28/02/2006      orkut.com  157038.0        51.0  157089.0
20    01/02/2006 a 28/02/2006     uol.com.br    5050.0         0.0    5050.0
21                        NaN            NaN       NaN         NaN       NaN
22    01/03/2006 a 31/03/2006   facebook.com  129632.0         0.0  129632.0
23    01/03/2006 a 31/03/2006    youtube.com   15984.0         0.0   15984.0
24    01/03/2006 a 31/03/2006   orkut.com.br  198454.0         1.0  198455.0
25    01/03/2006 a 31/03/2006    xvideos.com   11313.0         0.0   11313.0
26    01/03/2006 a 31/03/2006  instagram.com    4574.0         0.0    4574.0
27    01/03/2006 a 31/03/2006      imgsrc.ru    4532.0         0.0    4532.0
28    01/03/2006 a 31/03/2006  google.com.br    4147.0         0.0    4147.0
29    01/03/2006 a 31/03/2006    twitter.com   26399.0         0.0   26399.0
...                       ...            ...       ...         ...       ...
1685  01/10/2018 a 31/10/2018   orkut.com.br  198454.0         0.0  198454.0
1686  01/10/2018 a 31/10/2018    xvideos.com   11314.0        44.0   11358.0
1687  01/10/2018 a 31/10/2018  instagram.com    4574.0      1061.0    5635.0
1688  01/10/2018 a 31/10/2018      imgsrc.ru    4532.0        22.0    4554.0
1689  01/10/2018 a 31/10/2018  google.com.br    4147.0         5.0    4152.0
1690  01/10/2018 a 31/10/2018    twitter.com   26399.0       534.0   26933.0
1691  01/10/2018 a 31/10/2018      orkut.com  157038.0         0.0  157038.0
1692  01/10/2018 a 31/10/2018     uol.com.br    5050.0        10.0    5060.0
1693                      NaN            NaN       NaN         NaN       NaN
1694  01/11/2018 a 30/11/2018   facebook.com  129632.0       464.0  130096.0
1695  01/11/2018 a 30/11/2018    youtube.com   15984.0        13.0   15997.0
1696  01/11/2018 a 30/11/2018   orkut.com.br  198454.0         0.0  198454.0
1697  01/11/2018 a 30/11/2018    xvideos.com   11314.0        35.0   11349.0
1698  01/11/2018 a 30/11/2018  instagram.com    4574.0        74.0    4648.0
1699  01/11/2018 a 30/11/2018      imgsrc.ru    4532.0        34.0    4566.0
1700  01/11/2018 a 30/11/2018  google.com.br    4147.0         4.0    4151.0
1701  01/11/2018 a 30/11/2018    twitter.com   26399.0       398.0   26797.0
1702  01/11/2018 a 30/11/2018      orkut.com  157038.0         0.0  157038.0
1703  01/11/2018 a 30/11/2018     uol.com.br    5050.0         8.0    5058.0
1704                      NaN            NaN       NaN         NaN       NaN
1705  01/12/2018 a 31/12/2018   facebook.com  129632.0       282.0  129914.0
1706  01/12/2018 a 31/12/2018    youtube.com   15984.0         7.0   15991.0
1707  01/12/2018 a 31/12/2018   orkut.com.br  198454.0         0.0  198454.0
1708  01/12/2018 a 31/12/2018    xvideos.com   11314.0        47.0   11361.0
1709  01/12/2018 a 31/12/2018  instagram.com    4574.0       120.0    4694.0
1710  01/12/2018 a 31/12/2018      imgsrc.ru    4532.0        18.0    4550.0
1711  01/12/2018 a 31/12/2018  google.com.br    4147.0         1.0    4148.0
1712  01/12/2018 a 31/12/2018    twitter.com   26399.0       179.0   26578.0
1713  01/12/2018 a 31/12/2018      orkut.com  157038.0         0.0  157038.0
1714  01/12/2018 a 31/12/2018     uol.com.br    5050.0         1.0    5051.0

[1715 rows x 5 columns]