# Explorando os dados da Central Nacional de Denúncias da Safernet

### 1 - Sobre as bibliotecas

In [2]:
import io
import requests
import pandas as pd
import matplotlib.pyplot as plt

### 2 - Importando os dados

**Sobre os dados:**
    
Temos 3 arquivos csv

cnd_violacoes com os campos:
- Período	
- Violação	
- Únicas	
- Duplicadas	
- Total	
- Início	
- Fim	
- Mês	
- Mês Número	
- Ano

cnd_idiomas

- Período	
- Idioma	
- Únicas	
- Duplicadas	
- Total	
- Início	
- Fim	
- Mês	
- Mês Número	
- Ano

cnd_dominios

- Período	
- Domínio	
- Únicas	
- Duplicadas	
- Total	
- Início	
- Fim	
- Mês	
- Mês Número	
- Ano

In [3]:
cnd_violacao = pd.read_csv('../dados/cnd_violacoes.csv')
cnd_violacao.head(5)

,Unnamed: 0,Período,Violação,Únicas,Duplicadas,Total,Início,Fim,Mês,Mês Número,Ano
0,0,01/01/2006 a 31/01/2006,Xenofobia,4.0,1.0,5.0,2006-01-01,2006-01-31,Janeiro,1,2006
1,1,01/01/2006 a 31/01/2006,Homofobia,2.0,0.0,2.0,2006-01-01,2006-01-31,Janeiro,1,2006
2,2,01/01/2006 a 31/01/2006,Pornografia Infantil,75.0,0.0,75.0,2006-01-01,2006-01-31,Janeiro,1,2006
3,3,01/01/2006 a 31/01/2006,Violência ou Discriminação contra Mulheres,0.0,0.0,0.0,2006-01-01,2006-01-31,Janeiro,1,2006
4,4,01/01/2006 a 31/01/2006,Neo Nazismo,7.0,1.0,8.0,2006-01-01,2006-01-31,Janeiro,1,2006

In [5]:
cnd_idioma = pd.read_csv('../dados/cnd_idioma.csv')
cnd_idioma.head(5)

,Unnamed: 0,Período,Idioma,Únicas,Duplicadas,Total,Início,Fim,Mês,Mês Número,Ano
0,0,01/01/2006 a 31/01/2006,spanish,9.0,0.0,9.0,2006-01-01,2006-01-31,Janeiro,1,2006
1,1,01/01/2006 a 31/01/2006,farsi,3.0,0.0,3.0,2006-01-01,2006-01-31,Janeiro,1,2006
2,2,01/01/2006 a 31/01/2006,german,2.0,0.0,2.0,2006-01-01,2006-01-31,Janeiro,1,2006
3,3,01/01/2006 a 31/01/2006,dutch,3.0,0.0,3.0,2006-01-01,2006-01-31,Janeiro,1,2006
4,4,01/01/2006 a 31/01/2006,pinyin,0.0,0.0,0.0,2006-01-01,2006-01-31,Janeiro,1,2006

In [6]:
cnd_dominio = pd.read_csv('../dados/cnd_dominio.csv')
cnd_dominio.head(5)

,Unnamed: 0,Período,Domínio,Únicas,Duplicadas,Total,Início,Fim,Mês,Mês Número,Ano
0,0,01/01/2006 a 31/01/2006,facebook.com,129632.0,0.0,129632.0,2006-01-01,2006-01-31,Janeiro,1,2006
1,1,01/01/2006 a 31/01/2006,youtube.com,15984.0,0.0,15984.0,2006-01-01,2006-01-31,Janeiro,1,2006
2,2,01/01/2006 a 31/01/2006,orkut.com.br,198454.0,0.0,198454.0,2006-01-01,2006-01-31,Janeiro,1,2006
3,3,01/01/2006 a 31/01/2006,xvideos.com,11313.0,0.0,11313.0,2006-01-01,2006-01-31,Janeiro,1,2006
4,4,01/01/2006 a 31/01/2006,instagram.com,4574.0,0.0,4574.0,2006-01-01,2006-01-31,Janeiro,1,2006

## 3 - Saindo do Dados e chegando em Informações

### 3.1 - Tipos de violações nas denúncias


### 3.2 - Domínios das páginas denunciadas

### 3.3 - Idiomas das Denúncias